@import "tailwindcss";

.font-inter {
	font-family: 'Inter', sans-serif;
}

.font-lily {
	font-family: 'Lily Script One', cursive;
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOutRight {
	from {
		transform: translateX(0);
		opacity: 1;
	}

	to {
		transform: translateX(100%);
		opacity: 0;
	}
}

.sidebar-enter {
	animation: slideInRight 0.3s ease-in-out forwards;
}

.sidebar-exit {
	animation: slideOutRight 0.3s ease-in-out forwards;
}